* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.d1 {
    width: 100%;
    height: 100vh;

}


html,
body {
    overflow-x: hidden;
}

/* --------------------------------------------HOME PAGE----------------------------------------------------- */

.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

}

nav {
    position: absolute;
    display: flex;
    width: 100%;
}

.nav-bar {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.2);
    justify-content: space-between;
    animation-name: anim;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.hero video {
    width: 100%;
    height: 100vh;
    position: relative;
    object-fit: cover;
    z-index: -1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.nav-items {
    transition: 0.2s ease-in;
    padding: 10px;
}

.nav-items:hover {
    transform: scale(1.2);
    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 20px;
}

@keyframes anim {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}



/*------------------------------------------------ ABOUT SECTION ----------------------------------------------*/


.sub-heading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text1 {
    animation-name: anim1;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    width: 100%;
    height: 100%;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.space {

    height: 100px;
    background-color: beige;
    display: none;
}

.content {

    /* height: 400px; */

    padding: 70px 20px 20px 20px;
    background-color: beige;
    animation-name: anim;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.about-footer {
    /* height: 40px; */
    color: white;
    text-align: center;
    background-color: rgb(117, 117, 91);
}

.img {
    transition: 0.5s ease;
}

.img:hover {
    transform: scale(1.02, 1.02);
}

@keyframes anim1 {
    from {
        opacity: 0;
        transform: translateX(-70px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

/* ------------------------------------------ROOM SECTION---------------------------------------- */
.intro {
    padding: 80px 20px 20px 20px;
    background-color: thistle;
    animation-name: anim;
    animation-duration: 1s;
    animation-timing-function: ease-out;

}

.group-card {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 20px;

}

.bg {

    position: relative;
    background-color: rgb(193, 163, 193);

}

.card {
    width: 300px;

    margin: 10px;
    transition: 0.5s ease;


}

.card-img-top {
    height: 250px;

}

.card:hover {
    transform: scale(1.05, 1.05);
}

/*------------------------------------------ FORM SECTION ------------------------------------------------ */

.form-css {
    overflow: hidden;
    padding: 50px;
}


.available {

    padding: 40px;
    text-align: center;
}


/* -------------------------------------------DINING SECTION----------------------------------------------  */

.dining-bg {

    width: 100%;
    background-color: #f0e8df;
    color: #333333;
    padding: 80px 20px 20px 20px;
    animation-name: anim;
    animation-duration: 1s;
    animation-timing-function: ease;
}

.dining-content {
    width: 100%;
    padding: 20px;
    overflow: hidden;
    background-color: #FFF8F0;

}




@media(min-width:368px) {
    .lobby-1 {
        order: 1;
    }

    .lobby-2 {
        order: 0;
    }

}

/* -----------THANK YOU SECTION-----------  */
.thankyou {
    text-align: center;
    padding-top: 20%;
    height: 78vh;
}

@media(min-width:1024px) {
    nav {
        width: 100%;
        padding: 0;
    }

    .nav-bar {
        width: 100%;
        position: fixed;
        display: flex;
        padding: 10px;
        justify-content: space-around;
    }



    .nav-items {
        font-size: large;
    }

    .space {
        display: block;
        background-color: beige;
    }

    .lobby-1 {
        order: 0;
    }

    .lobby-2 {
        order: 1;
    }

    /*----------- ROOM SECTION ---------- */
    .card {
        width: 400px;
    }

}